mixin minesweeper()
  .minesweeper
    .minesweeper__header
      .minesweeper__counter
        .minesweeper__digit
        .minesweeper__digit
        .minesweeper__digit
      button.btn.minesweeper__btn(type="button")
      .minesweeper__timer
        .minesweeper__digit
        .minesweeper__digit
        .minesweeper__digit
    .minesweeper__wrapper
